.container {
  display: flex;
  justify-content: space-between;
  background-color: var(--light-font);
  display: flex;
  /* flex-wrap: wrap;*/
  margin: 0 auto;

  color: var(--dark-gr);
  font-weight: 600;

  ul {
    display: flex;
    list-style: none;
    align-items: center;

    li {
      cursor: pointer;
      transition: all 0.3s ease;
      a {
        text-decoration: none;
        color: var(--dark-gr);
        font-weight: 200;
        transition: all 0.2s ease;
      }

      &:hover {
        color: var(--dark-gr);
      }
    }
  }
}
@media screen and (max-width: 768px) {
  p {
    font-size: 1.2rem;
  }
  ul {
    gap: 0.5rem;

    li {
      font-size: 0.8rem;
      font-weight: 400;
    }
  }
  .container {
    padding: 0.5rem 1rem;
  }
}
@media screen and (min-width: 769px) {
  p {
    font-size: 2rem;
    font-weight: 600;
  }
  ul {
    gap: 2rem;
    li {
      font-size: 1.2rem;
    }
  }
  .container {
    padding: 1rem 2rem;
  }
}
