* {
  font-family: sans-serif;
  h1,
  h2,
  h3,
  p {
    color: var(--dark-gr);
  }
}
.main-container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  max-width: var(--container-max-width);
  margin: 0 auto;
}
